registry=https://registry.npmjs.com/
@electricui:registry=http://127.0.0.1:7001/
//127.0.0.1:7001/:_password="cGFzc3dvcmQ="
//127.0.0.1:7001/:email=michael@electricui.com
//127.0.0.1:7001/:username=michael
//127.0.0.1:7001/:always-auth=true
always-auth=true
