.rc-input-number {
  margin: 0;
  padding: 0;
  line-height: 38px;
  height: 38px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 5px;
}

.rc-input-number-handler {
  text-align: center;
  line-height: 18px;
  height: 18px;
  overflow: hidden;
  display: block;
}

.rc-input-number-handler-up-inner,
.rc-input-number-handler-down-inner {
  color: rgba(0, 0, 0, 0.87);
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

.rc-input-number:hover {
  border-color: rgba(34, 36, 38, 0.35);
}

.rc-input-number:hover .rc-input-number-handler-up,
.rc-input-number:hover .rc-input-number-handler-wrap {
  border-color: rgba(34, 36, 38, 0.35);
}

.rc-input-number-disabled:hover {
  border-color: rgba(34, 36, 38, 0.15);
}

.rc-input-number-disabled:hover .rc-input-number-handler-up,
.rc-input-number-disabled:hover .rc-input-number-handler-wrap {
  border-color: rgba(34, 36, 38, 0.15);
}

.rc-input-number-input-wrap {
  overflow: hidden;
  height: 36px;
}

.rc-input-number-input {
  width: 100%;
  text-align: center;
  outline: 0;
  -moz-appearance: textfield;
  line-height: 36px;
  height: 36px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: rgba(0, 0, 0, 0.87);
  border: 0;
  border-radius: 5px;
  padding: 0;
}

.rc-input-number-handler-wrap {
  float: right;
  border-left: 1px solid rgba(34, 36, 38, 0.15);
  width: 20px;
  height: 36px;
  font-weight: 700;
}

.rc-input-number-handler-up {
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  padding-top: 4px;
  height: 19px;
  vertical-align: bottom;
  font: normal normal normal 12px/1 Icons;
}

.rc-input-number-handler-down {
  padding-top: 3px;
  height: 19px;
  vertical-align: bottom;
  font: normal normal normal 12px/1 Icons;
}

.rc-input-number-handler-up-inner:after {
  content: '\F077';
}

.rc-input-number-handler-down-inner:after {
  content: '\F078';
}

.rc-input-number-handler-down-disabled,
.rc-input-number-handler-up-disabled {
  opacity: 0.45;
}

.rc-input-number-handler-down-disabled:hover,
.rc-input-number-handler-up-disabled:hover {
}

.rc-input-number-disabled .rc-input-number-input {
  cursor: not-allowed;
}

.rc-input-number-disabled .rc-input-number-handler {
  opacity: 0.45;
}

.rc-input-number-disabled .rc-input-number-handler:hover {
}
